# Podgląd przykładowych wartości (nie jest używany automatycznie przez sqlcmd)
DbName=TwojaBaza
AdGroupLab=DOMENA\RG_LAB_TwojaBaza
AdGroupProd=DOMENA\RG_PROD_TwojaBaza
AppNameLabPattern=%LAB%
AppNameProdPattern=%PROD%
